* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

:root {
    --text: #242424;
    --text2: #454545;
    --border: lightgrey;
}

body {
    background: rgb(235, 235, 235);
}

section {
    display: grid;
    place-content: center;
}

.container {
    padding: 1rem;
}


/* Account */
nav {
    margin: 0.25rem 1rem;
}

ul {
    list-style-type: none;
}

li {
    height: 24px;
    display: inline-block;
}

li a {
    vertical-align: middle;
    font-weight: 600;
    color: var(--text);
    text-decoration: none;
}

li a:hover {
    color: var(--text);
}

a img {
    height: 24px;
}

.card {
    box-shadow: 0px 0px 40px rgb(105, 105, 105);
    border-radius: 6px;
    background: white;
    padding-bottom: 0.5rem;
}

.user {
    padding: 1rem 0;
}

form input {
    padding: 0.15rem;
    border: 1px solid var(--border);
    border-right: none;
    max-width: 75px;
}

form button {
    cursor: pointer;
    padding: 0.15rem;
    border-radius: 0;
    outline: none;
    border: 1px solid var(--border);
}
/* Account */


/* Sources */
.sources a {
    color: var(--text2);
}
/* Sources */